header{
    background-image:url("grama.jpg") ;
    text-align: center;
    color: black;
    font-size: small;
    
}


#texto1{
    font-size: small;
    text-align: center;
   color:black;
   
    
}

body{
    background-color:beige;
    margin: 13px;    
}

#cruzeiro{
   width: 300px;
   
   height: 180px;    
}

#gremio{
  
  padding-left:400px;
    
}
#inicio{
    color:black;
}
#explicaçao{
    width: 500px;
}

#trofeu{
    width: 600px;
    height: 300px;
}
#rodapé{
    background-image: url(grama.jpg);
}

